
<H1> School home Page </H1>

<%= link_to "Student data" %> <%= link_to "Attendence" %> <%= link_to "Staff" %> <%= link_to "Staff attandance" %> <%= link_to "Salarys" %> <%= link_to "Student data" %> <%= link_to "Salarys" %> <%= link_to "Marks" %> <%= link_to "Student Address" %> <%= link_to "Staff address" %> <%= link_to "School info" %>         